.header {
    background-color: darkgreen;
    color:rgb(250, 249, 249);
    text-align: center;
}

.main {
    background-color: lightgrey;
    text-align: center;
    padding: 1em;
}

body{
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}
